@import "variable";

#right-side-wrapper {
  width: 100%;
  margin-left: 345px;

  header {
    height: 80px;
    background-color: $header-color;
    
    .info {
      float: right;
      display: flex;
      align-items: center;
      height: 100%;
      margin-right: 120px;
    }

    #user {
      height: fit-content;
      display: flex;
      align-items: center;
      margin-right: 40px;
      
      img {
        margin: 0 10px;
      }
    }

    a {
      color: $deep-color_font;
    }
  }
}