@import "variable";

#content {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabs--container {
  width: 900px;
  
  .tabs {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .tabs--scrollable {
    display: flex;
    position: relative;
    top: 1px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: row;
  }
  
  .tabs__scroller {
    background-image: url("../images/content/arrow.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    width: 7px;
    height: 10.5px;
    margin: 18px 25px 30px;

    &[disabled] {
      opacity: 0.3;
    }
    &:focus {
      outline: none;
    }
    &.tabs__scroller--left {
      transform: rotate(180deg);
    }
  }
  
  .tabs__toggle-group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
  .tabs__toggle {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-grow: 1;
    flex-shrink: 1;
    white-space: nowrap;
  }
  
  .tabs__toggle {
    margin: 0 2px;
    padding: 15px;
    height: fit-content;
    background-color: $medium-green;
    color: white;
    text-align: center;
    border-radius: 5px;
    
    &:hover {
      background-color: $deep-green;
    }
    
    &--active {
      background-color: $deep-green;
      border-right: 1px solid #e4e4e4;
      border-left: 1px solid #e4e4e4;
      border-bottom-color: transparent;
      
      &::after {
        content: '';
        border-top: $deep-green;
        border-width: 14px 8px 0 8px;
        border-style: solid;
        border-color: $deep-green transparent transparent transparent;
        position: absolute;
        bottom: -10px;
      }
    }
  }
  
  .tabs__tabs-group {
    padding: 0 55px;
  }
  
  .tabs__tab {
    position: relative; // for the absolute position of table-pagination
    min-height: 65vh;
    width: 100%;
    padding: 24px;

    table {
      color: $dark-green;
      width: 100%;

      th {
        text-align: left;
        padding: 16px 0;
        font-weight: 700;
      }
      
      tr {
        td {
          border-bottom: $medium-green solid 1px;
          text-align: left;
          padding: 16px 0;
        }
      }

      tbody:not(.active) {
        display: none;
      }
    }
  }
}
